<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dan.baking_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <provider
            android:authorities="com.example.dan.baking_app"
            android:name="com.example.dan.baking_app.contentprovider.RecipeContentProvider"
            android:exported="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecipeDetailActivity" />

        <receiver android:name=".BakingWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.dan.baking_app.WIDGET_ROW_ACTION" />
                <action android:name="com.example.dan.baking_app.EXTRA_ITEM" />
                <action android:name="com.example.dan.baking_app.ACTION_UPDATE_WIDGET_FROM_BUTTON" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_widget_provider_info" />
        </receiver>

        <service
            android:name=".WidgetAdapterService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>